name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build-and-test:
    name: Build, Lint & Test
    runs-on: ubuntu-latest
    
    # Ustawiamy zmienne środowiskowe dla tego joba
    env:
      # Django wymaga klucza. W CI dajemy byle jaki, byle był.
      SECRET_KEY: ${{ secrets.DJANGO_CI_KEY }}
      # Ustawiamy tryb debug na False, żeby symulować produkcję
      DEBUG: 'False' 

    steps:
      # 1. Pobranie kodu (Poprawiona wersja na v4)
      - name: Checkout code
        uses: actions/checkout@v5

      # 2. Instalacja Pythona (Poprawiona wersja na v5)
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip' # To przyspieszy instalację przy kolejnych uruchomieniach

      # 3. Instalacja zależności
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          pip install -r requirements.txt

      # 4. LINTING: Sprawdzanie jakości kodu i błędów składni
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      # 5. TESTY DJANGO: Sprawdzenie czy aplikacja w ogóle wstaje
      # Zamiast makemigrations, robimy check.
      # makemigrations robi się lokalnie i commituje pliki migracji do repo.
      - name: Django System Check
        run: python manage.py check

      # Opcjonalnie: Jeśli baza SQLite jest w repo lub działa domyślnie
      - name: Test Migrations
        run: python manage.py migrate
  
  # ODDZIELNY JOB DLA BEZPIECZEŃSTWA (DevSecOps)
  security-checks:
    name: Security Scans
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 6. SCA: Skanowanie dziurawych bibliotek (Trivy)
      - name: Run Trivy vulnerability scanner (SCA)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          ignore-unfixed: true
          format: 'table'
          exit-code: '1' # Przerwij pipeline jak znajdziesz krytyczny błąd
          severity: 'CRITICAL,HIGH'

      # 7. SECRET SCANNING: Szukanie haseł w kodzie
     # - name: Secret Scanning (Gitleaks)
      #  uses: gitleaks/gitleaks-action@v2
       # env:
        #  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
